main {
  padding: 3vh;

  section {
    width: 100%;
    display: flex;
    justify-content: space-between;

    aside {
      display: flex;
      flex-direction: column;
      gap: 1.5vh;
      height: 100vh;
      width: 18%;
      color: #777777;

      .publicidade {
        text-align: center;
        height: 25vh;
        width: 100%;
        border: 0;
        border-radius: 1vh;
        background-color: rgba(0,0,0, 0.05);
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .cupons {
        text-align: center;
        height: 40vh;
        width: 100%;
        border: 0;
        border-radius: 1vh;
        background-color: rgba(0,0,0, 0.05);
      }

      .socialmedias {
        text-align: center;
        height: 25vh;
        width: 100%;
        border: 0;
        border-radius: 1vh;
        background-color: rgba(0,0,0, 0.05);
      }
    }

    ul {
      height: fit-content;
      width: 80%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 3vh;
      list-style: none;

      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;
        list-style: none;
        border: 0;
        border-radius: 0.75vh;
        background-color: #eeeeee;
        overflow: hidden;
        cursor: pointer;
        height: fit-content;

        &:hover {
          -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
        }

        .container-infos-evento {
          display: flex;
          flex-direction: column;
          gap: 0.5vh;
          height: 10vh;
          padding: 1.5vh;
          overflow: hidden;

          h2 {
            font-size: 2.5vh;
            width: 80%;
          }
        }

        .container-imagem{
          height: 15vh;
          width: 100%;

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
