<main>
  <section>
    <ul>
      <li *ngFor="let i of fetchRes" (click)="visitEventos(i.id)">
        <div class="container-imagem">
          <img [src]="i.imagem" alt="{{ i.descricao }}">
        </div>
        <div class="container-infos-evento">
          <h2>{{ i.nome }}</h2>
          <p>{{ i.categoria.nome }}</p>
        </div>
      </li>
    </ul>
    <aside>
      <div class="publicidade">
        <a href="https://promosim.com.br/grupo-whatsapp">
          <img src="https://i.promobit.com.br/705731763416892125209529659095_banner.png" alt="">
        </a>
      </div>
      <div class="cupons">
        <h2>Cupons</h2>
        <ul>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/1bedc8ee-a300-4126-9a55-d92cec84f52b.png" alt="Amazon">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/8fa53cb3-d177-4ce2-9c3f-e91c1e2eae8e.jpg" alt="Natura">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/f9d9180f-ed33-4ed6-806e-b9e28a5f5dee.png" alt="Dell">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/f977d19f-d6c6-4d2c-9327-980a0bf9bcc0.png" alt="Americanas">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/6fe187dd-87fd-4f51-a9f7-6ff9a03c6c1a.png" alt="AliExpress">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/a9607833-3ec4-4f70-a2ab-107e54b2a7c5.png" alt="Shopee">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/50c39b6f-2dc7-4df9-9b02-f73abe0d530f.png" alt="Samsung">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/b6ebd2ba-7a7b-4cfb-8681-ba524a5b7def.png" alt="Fast Shop">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/14ef5e17-f98b-42ee-93e4-56daf730a591.png" alt="Casas Bahia">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/7c68772c-bea1-4fa4-a80e-09d2eb3a9110.png" alt="Kabum">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/bbc42939-cce9-4832-8670-e2a151235f02.png" alt="Extra">
          </li>
          <li>
            <img src="https://fs-promosim.s3-sa-east-1.amazonaws.com/43cea91c-bdd9-4700-9bf9-7565314cd5cd.jpg" alt="Carrefour">
          </li>
        </ul>
      </div>
    </aside>
  </section>
</main>
