main {
  padding: 5vh;

  div{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;

    button {
      padding: 1.5vh;
      font-weight: 600;
      border: 0.1vh solid #252525;
      border-radius: 3vh;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 5vh;

      &:hover{
        border: 0.1vh solid #252525;
        background-color: #e2c213;
      }
    }
  }


  ul {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 5vh;

    li {
      display: flex;
      flex-direction: column;
      height: 30vh;
      border: 0.01vh solid #252525;
      border-radius: 0.75vh;
      background-color: #eeeeee;
      list-style: none;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
      }

      div {
        display: flex;
        flex-direction: row;
        height: 15vh;
        padding: 2vh;
      }

      img {
        height: 75%;
        width: 100%;
      }
    }
  }
}
