$formBackground: #dbdbdb;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  padding: 3vh 5vw 3vh 5vw;
  overflow: hidden;

  .general-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    width: 100%;

    .category-edit-button{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      width: 15%;
      padding: 1.5vh;
      border: 0;
      border-radius: 1vh;
      text-decoration: none;
      font-size: 2.5vh;
      font-weight: 600;
      cursor: pointer;
      transition: 0.1s;
      color: #f1f1f1;
      background-color: #7A009D;

      fa-icon {
        font-size: 3vh;
        font-weight: 700;
      }

      &:hover {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        transform: scale(1.05);
      }
    }

    .post-form-add-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      width: 30%;
      padding: 1.5vh;
      border: 0;
      border-radius: 1vh;
      font-size: 2.5vh;
      font-weight: 600;
      cursor: pointer;
      transition: 0.1s;
      color: #f1f1f1;
      background-color: #7A009D;

      fa-icon {
        font-size: 3vh;
        font-weight: 700;
      }

      &:hover {
        -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
        transform: scale(1.05);
      }
    }
  }
  .post-form-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      padding: 1vh 3vh 3vh 3vh;
      width: 70%;
      background-color: $formBackground;
      border: 0;
      border-radius: 1vh;

      .close-button-form-post-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .close-button {
          font-size: 3vh;
          cursor: pointer;
        }
      }

      div{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        width: 80%;

        label {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 2.5vh;
          font-weight: 600;
          padding: 1vh;
          border: 0;
          border-radius: 1vh;
          background-color: rgba(0,0,0,0.1);

          input {
            font-size: 2vh;
            padding: 1vh;
            border: 0;
            border-radius: 0 0 1vh 1vh;
            background-color: rgba(0,0,0,0.0);
          }
        }

        select {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 2.5vh;
          font-weight: 600;
          padding: 1vh;
          border: 0;
          border-radius: 1vh;
          background-color: rgba(0,0,0,0.1);
        }
      }


      button {
        width: 30%;
        padding: 1.5vh;
        border: 0;
        border-radius: 1vh;
        font-size: 2.5vh;
        font-weight: 600;
        cursor: pointer;
        transition: 0.1s;
        color: #f1f1f1;
        background-color: #7A009D;

        &:hover {
          -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
          transform: scale(1.05);
        }
      }
    }
  }

  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 3vh;
    width: 70%;
    background-color: rgba(0,0,0,0.075);
    border: 0;
    border-radius: 1vh;
    overflow-y: scroll;

    li {
      width: 75%;
      list-style: none;
      font-size: 2vh;
      font-weight: 600;
      padding: 1vh 3vw 1vh 3vw;
      border: 0;
      border-radius: 1vh;
      background-color: rgba(0,0,0,0.1);

      .event-info-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        div {
          display: flex;
          flex-direction: row;
          gap: 1vw;

          fa-icon {
            cursor: pointer;

            &:hover {
              transform: scale(1.1);
            }
          }
        }
      }
    }


  }

  .put-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3vh;
      padding: 1vh 3vh 3vh 3vh;
      width: 70%;
      background-color: $formBackground;
      border: 0;
      border-radius: 1vh;

      .close-button-form-put-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        .close-button {
          font-size: 3vh;
          cursor: pointer;
        }
      }

      .input-put-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vh;
        width: 80%;

        label {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 2.5vh;
          font-weight: 600;
          padding: 1vh;
          border: 0;
          border-radius: 1vh;
          background-color: rgba(0,0,0,0.1);

          input {
            font-size: 2vh;
            padding: 1vh;
            border: 0;
            border-radius: 0 0 1vh 1vh;
            background-color: rgba(0,0,0,0.0);
          }
        }
      }
    }

    div {
    display: flex;
    flex-direction: column;
    }
  }
}

