<main>
  <div class="general-button-container">
    <button class="post-form-add-button" (click)="postModal()">
      Adicionar novo evento <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    </button>
    <a class="category-edit-button" routerLink="categoria">
      Gerenciar categorias <fa-icon [icon]="['fas', 'gear']"></fa-icon>
    </a>
  </div>
  <section class="post-form-container" *ngIf="postModalActivated">
    <form #formPost="ngForm">
      <div class="close-button-form-post-container">
        <fa-icon class="close-button" [icon]="['fas', 'xmark']" (click)="postModal()"></fa-icon>
      </div>
      <div>
        <select name="selectCategoria" ngModel>
          <option value="">Selecione uma categoria</option>
          <option *ngFor="let i of fetchCategoryRes" value="{{i.id}}">{{ i.nome }}</option>
        </select>
        <label>
          Nome:
          <input name="inputNome" ngModel type="text" placeholder="Digite o nome do evento ...">
        </label>
        <label>
          Descrição:
          <input name="inputDescricao" ngModel type="text" placeholder="Digite a descrição do evento ...">
        </label>
        <label>
          Imagem:
          <input name="inputImagem" ngModel type="text" placeholder="Digite o nome do evento ...">
        </label>
      </div>
      <button (click)="handlePostEvent(
        formPost.value.inputNome,
        formPost.value.selectCategoria,
        formPost.value.inputDescricao,
        formPost.value.inputImagem
        )"> Enviar </button>
    </form>
  </section>
  <section class="event-list">
    <h2>Eventos ativos:</h2>
    <li *ngFor="let i of fetchEventRes">
      <div class="event-info-container" *ngIf="!eventInfoModal">
        <div class="event-info-main">
          <h2 (click)="infoModal(i.id)">{{i.id}} - {{ i.nome }}</h2>
          <div>
            <fa-icon [icon]="['fas', 'trash']" (click)="handleDeleteEvent(i.id)"></fa-icon>
            <fa-icon [icon]="['fas', 'pen']" (click)="putModal(i.id)"></fa-icon>
          </div>
        </div>
      </div>
      <div class="event-info-container" *ngIf="eventInfoModal">
        <div class="event-info-main">
          <h2 (click)="infoModal(i.id)">{{ i.nome }}</h2>
          <div>
            <fa-icon [icon]="['fas', 'trash']" (click)="handleDeleteEvent(i.id)"></fa-icon>
            <fa-icon [icon]="['fas', 'pen']" (click)="putModal(i.id)"></fa-icon>
          </div>
        </div>
      </div>
      <div class="event-info-container" *ngIf="eventInfoModal && eventInfoId === i.id">
        <p>{{i.descricao}}</p>
        <img src="{{i.imagem}}" alt="">
      </div>
      <div *ngIf="putModalActivated && putModalId === i.id" class="put-modal">
        <form #formPut="ngForm">
          <div class="close-button-form-put-container">
            <fa-icon class="close-button" [icon]="['fas', 'xmark']" (click)="putModal(i.id)"></fa-icon>
          </div>
          <div class="input-put-container">
            <select name="selectCategoria" ngModel >
              <option value="">Selecione uma categoria</option>
              <option *ngFor="let i of fetchCategoryRes" value="{{i.id}}" selected>{{ i.nome }}</option>
            </select>
            <label>
              Nome:
              <input name="inputNome" ngModel type="text" placeholder="{{i.nome}}">
            </label>
            <label>
              Descrição:
              <input name="inputDescricao" ngModel type="text" placeholder="{{i.descricao}}">
            </label>
            <label>
              Imagem:
              <input name="inputImagem" ngModel type="text" placeholder="{{i.imagem}}">
            </label>
          </div>
          <button
          class="close-button"
          (click)="handlePutEvent(
            i.id,
            formPut.value.inputNome || i.nome,
            formPut.value.selectCategoria || i.categoria.id,
            formPut.value.inputDescricao || i.descricao,
            formPut.value.inputImagem || i.imagem
            )"> Enviar </button>
        </form>
    </div>
    </li>
  </section>
</main>
