$fontColor: #141414;
$fontColorActivated: #e2e2e2;
$navBar: #7A009D;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  padding: 0 10vw 0 10vw;
  overflow-x: hidden;
  background-color: $navBar;
  z-index: 1;

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;

    img {
      height: 7vh;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 3vw;
      list-style-type: none;
      width: fit-content;

      li {

        a{
          color: $fontColor;
          text-decoration: none;
          font-size: 3vh;
        }

        .activated {
          color: $fontColorActivated;
        }
      }
    }

    .search-container {
      width: fit-content;

      input {
        width: 25vw;
        padding: 1vh;
        padding-left: 2vh;
        font-size: 2vh;
        border-radius: 2vh 0 0 2vh;
        background-color: #eee;

        &:focus {
          border: 0;
        }
      }

      button {
        padding: 1vh;
        font-size: 2vh;
        border-radius: 0 2vh 2vh 0;
        color: #7A009D;
        background-color: #eee;
        cursor: pointer;
      }
    }
  }

  .admin {
    font-size: 3vh;
    color: $fontColorActivated;
  }

}
