<!-- <owl-carousel-o [options]="customOptions">
  <ng-template class="carousel-slide" [width]="sliderWidth" carouselSlide>
    <img [width]="sliderWidth" [height]="600" class="carousel-image" src="{{ Slide01 }}" alt="Slide 1" title="Teste">
  </ng-template>
  <ng-template class="carousel-slide" [width]="sliderWidth" carouselSlide>
    <img [width]="sliderWidth" [height]="600" class="carousel-image" src="{{ Slide02 }}" alt="Slide 2">
  </ng-template>
  <ng-template class="carousel-slide" [width]="sliderWidth" carouselSlide>
    <img [width]="sliderWidth" [height]="600" class="carousel-image" src="{{ Slide03 }}" alt="Slide 3">
  </ng-template>
</owl-carousel-o> -->
<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0].src" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1].src" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2].src" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Third slide label</h3>
			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
		</div>
	</ng-template>
</ngb-carousel>
