<section>
  <div class="carousel-category-container" *ngFor="let c of fetchCategoryRes">
    <h2>{{ c.nome }}</h2>
    <owl-carousel-o [options]="customOptions">
      <ng-container class="slider-container" *ngFor="let e of fetchEventsRes"  >
        <ng-template class="slider" *ngIf="c.nome === e.categoria.nome" carouselSlide [id]="e.id">
          <img class="slider-image" [src]="e.imagem" [alt]="e.descricao" [title]="e.nome">
          <div class="slider-title">
            <h2>
              {{e.nome}}
            </h2>
            <p>
              {{e.categoria.nome}}
            </p>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>
