<section>
  <div class="modulos">
    <h2>MÓDULOS</h2>
    <h3>EVENTO ONLINE</h3>
    <h3>INSCRIÇÕES</h3>
    <h3>PROGRAMAÇÃO</h3>
    <h3>SUBMISSÕES</h3>
    <h3>CREDENCIAMENTO</h3>
    <h3>CERTIFICADOS</h3>
    <h3>EMPRESAS</h3>
    <h3>PUBLICAÇÕES</h3>
  </div>
  <div class="organizadores">
    <h2>ORGANIZADORES</h2>
    <h3>CRIAR EVENTO</h3>
    <h3>SOLICITAR DEMONSTRAÇÃO</h3>
    <h3>CONSULTOR DE VENDAS</h3>
    <h3>PLANOS E PREÇOS</h3>
  </div>
  <div class="plataforma">
    <h2>PLATAFORMA</h2>
    <h3>AJUDA</h3>
    <h3>BLOG</h3>
    <h3>ROADMAP</h3>
    <h3>MATERIAIS EDUCATIVOS</h3>
    <h3>AUTENTICAR CERTIFICADO</h3>
    <h3>GDPR</h3>
    <h3>DESENVOLVEDORES</h3>
  </div>
  <div class="empresa">
    <h2>EMPRESA</h2>
    <h3>TRABALHE CONOSCO</h3>
    <h3>MANUAL DA MARCA</h3>
    <h3>TERMOS DE USO</h3>
    <h3>POLÍTICA DE PRIVACIDADE</h3>
    <h3>BASTIDORES</h3>
  </div>
  <img class="footer-image" src="{{footerImage}}" alt="">
</section>
